body {
	background-color: #111111;
}

div.center {
    width: 854px;
    height: 480px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#logo {
	margin-top: 30px;
	text-align: center;
}

#canvas{
	position:absolute;
	z-index:0;
}

#border{
	background-color: #ffffff;
	width: 860px;
	height: 486px;
	z-index: -10;
}

#play {
	width: 854px;
    height: 480px;
	opacity: 0.9;
	z-index: 3;
}

#decision1{
	position:absolute;
	opacity:0.5;
	z-index:-1;
}

#d1gif{
	position:absolute;
	z-index:-1;
}

#stats1a{
	position:absolute;
	opacity:0.9;
	z-index:-1;
}

#stats1b{
	position:absolute;
	opacity:0.9;
	z-index:-2;
}

#stats1c{
	position:absolute;
	opacity:0.9;
	z-index:-3;
}

#s1gif{
	position:absolute;
	z-index:-1;
}

#stats2a{
	position:absolute;
	opacity:0.9;
	z-index:-1;
}

#stats2b{
	position:absolute;
	opacity:0.9;
	z-index:-1;
}

#s2gif{
	position:absolute;
	z-index:-1;
}

#decision2{
	position:absolute;
	opacity: 0.5;
	z-index:-1;
}

#d2gif{
	position:absolute;
	z-index:-1;
}

#stats3a{
	position:absolute;
	opacity:0.9;
	z-index:-1;
}

#stats3b{
	position:absolute;
	opacity:0.9;
	z-index:-1;
}

#stats3d{
	position:absolute;
	opacity:0.9;
	z-index:-1;
}

#stats3e{
	position:absolute;
	opacity:0.9;
	z-index:-1;
}

#s3gif{
	position:absolute;
	z-index:-1;
}

#stats4a{
	position:absolute;
	opacity:0.9;
	z-index:-1;
}

#stats4b{
	position:absolute;
	opacity:0.9;
	z-index:-1;
}

#stats4d{
	position:absolute;
	opacity:0.9;
	z-index:-1;
}

#stats4e{
	position:absolute;
	opacity:0.9;
	z-index:-1;
}


#s4gif{
	position:absolute;
	z-index:-1;
}

#decision3{
	position:absolute;
	opacity: 0.5;
	z-index:-1;
}

#d3gif{
	position:absolute;
	z-index:-1;
}

#stats5a{
	position:absolute;
	opacity:0.9;
	z-index:-1;
}

#stats5b{
	position:absolute;
	opacity:0.9;
	z-index:-1;
}

#stats5c{
	position:absolute;
	opacity:0.9;
	z-index:-1;
}

#stats5d{
	position:absolute;
	opacity:0.9;
	z-index:-1;
}

#s5gif{
	position:absolute;
	z-index:-1;
}

#stats6a{
	position:absolute;
	opacity:0.9;
	z-index:-1;
}

#stats6b{
	position:absolute;
	opacity:0.9;
	z-index:-1;
}

#stats6c{
	position:absolute;
	opacity:0.9;
	z-index:-1;
}

#s6gif{
	position:absolute;
	z-index:-1;
}